# See https://help.github.com/ignore-files/ for more about ignoring files.
/tmp
# dependencies
.env
.idea
/.idea
/node_modules
/.env
/finalProject_client
/sessions
/~source

# testing
/coverage

# production
/build
/config/db.js
