# See https://help.github.com/ignore-files/ for more about ignoring files.
/tmp

# dependencies
.idea

.env
.env.local
.env.development
.env.development.local


/.idea
/node_modules
/.env
/finalProject_client
/sessions
/~source

# testing
/coverage

# production
/build
/config/db.js
